.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  margin-left: 1rem;
}
.search ul {
  background-color: var(--color-dark-1);

  min-width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  z-index: 13;
  border-radius: 0 0 3px 3px;
  margin-top: 70px;
  border: 1px solid #f4f4f4;
}
.search ul li {
  list-style-type: none;
  margin-left: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
}

.search ul li .search-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-white);
}
.search ul li .search-username {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-white);
  opacity: 0.5;
}
