:root {
  --color-dark-1: #2b2b69;
  --color-dark-2: #1d1d42;
  --color-dark-3: #141432;
  --color-button: #524eee;
  --color-green: #6fcf97;
  --color-yellow: #f7a509;
  --color-red: #fb6363;
  --color-blue: #4abef8;
  --color-white: #ffffff;
  --color-text-secondary: #6e6e9e;
}
a {
  text-decoration: none;
}
.btn {
  width: 130px;
  height: 45px;
  background-color: var(--color-button);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}
.input {
  width: 90%;
  height: 45px;
  border-radius: 3px;
  border: 2px solid var(--color-dark-3);
  font-size: 1.1rem;
  padding: 1rem;

  background-color: var(--color-dark-3);
  color: #fff;
  font-weight: bold;
  outline: none;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
body {
  width: 100vw;
  background-color: var(--color-dark-2);
}
body::-webkit-scrollbar {
  width: 0;
}

form {
  background-color: var(--color-dark-3);
}
